/*****************
Navbar
******************/

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: rgb(7, 7, 7);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #000000;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 800px) {
    .navbar {
        background: rgb(2, 2, 2);
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
    .navbar{
        padding-right: 0;
    }
}

